{% macro render_pai(pai) %}
  <svg class="tile">
    <use class="face" href="#pai-{{ pai | lower }}"></use>
  </svg>
{% endmacro render_pai %}

{%- macro render_action(action) -%}
  {%- if action[0].type == "none" -%}
    スルー
  {%- elif action[0].type == "dahai" -%}
    打
    {{ self::render_pai(pai=action[0].pai) }}
  {%- elif action[0].type == "reach" -%}
    打
    {{ self::render_pai(pai=action[1].pai) }}
    リーチ
  {%- elif action[0].type == "hora" -%}
    {%- if action[0].target == action[0].actor -%}
      ツモ
    {%- else -%}
      ロン
    {%- endif -%}
  {%- elif action[0].type == "chi" -%}
    {%- for pai in action[0].consumed -%}
      {{ self::render_pai(pai=pai) }}
    {%- endfor -%}
    チー打
    {{ self::render_pai(pai=action[1].pai) }}
  {%- elif action[0].type == "pon" -%}
    {%- for pai in action[0].consumed -%}
      {{ self::render_pai(pai=pai) }}
    {%- endfor -%}
    ポン打
    {{ self::render_pai(pai=action[1].pai) }}
  {%- elif action[0].type == "kakan" or action[0].type == "daiminkan" -%}
    カン
    {{ self::render_pai(pai=action[0].pai) }}
  {%- else -%}
    カン
    {{ self::render_pai(pai=action[0].consumed[0]) }}
  {%- endif -%}
{%- endmacro render_action -%}

{%- macro render_actor(actor, target_actor) -%}
  {%- if (actor - target_actor + 4) % 4 == 1 -%}
    下家
  {%- elif (actor - target_actor + 4) % 4 == 2 -%}
    対面
  {%- elif (actor - target_actor + 4) % 4 == 3 -%}
    上家
  {%- else -%}
    自家
  {%- endif -%}
{%- endmacro -%}

{%- macro render_end_status(end_status, target_actor) -%}
  {%- if end_status.type == "hora" -%}
    {%- if end_status.target == end_status.actor -%}
      ツモ
    {%- else -%}
      ロン
    {%- endif -%}:
    {{ self::render_actor(actor=end_status.actor, target_actor=target_actor) }}
    {{ end_status.deltas[end_status.actor] }}
  {%- else -%}
    流局
  {%- endif -%}
{%- endmacro render_end_status -%}
